<ion-view title="Add Note" name="note-add">
	
	<ion-content>
		<form name="noteForm" novalidate>
		<div class="list card">
			<div class="item item-input">
				<input type="text" ng-model="note.title" ng-minlength="3" name="noteTitle" required placeholder="Note title (required)"	/>
			</div>
			<div class="item item-input">
				<textarea rows="4" ng-model="note.description" placeholder="Description"></textarea>
			</div>
			<div class="item item-toggle">
				<span class="input-label">Favorite</span>
				<label class="toggle">
					<input type="checkbox" ng-model="note.favorite">
					<div class="track"><div class="handle"></div></div>
				</label>
			</div>
		</div>
		<div class="padding">
            <!--<p ng-show="noteForm.noteTitle.$error.required && myForm.username.$pristine">* Title is required</p>-->
			<p class="assertive" ng-show="noteForm.noteTitle.$error.required && myForm.username.$touched">* Title is required</p>
            <p class="assertive" ng-show="noteForm.noteTitle.$error.minlength">* Title must be longer than 3 characters</p>
        </div>
		<div class="padding">
			<button class="button button-block button-positive" ng-disabled="noteForm.$invalid"
			ng-click="save()">Save</button>
		</div>
		</form>
	</ion-content>
</ion-view>